absl-py==1.4.0
aiohttp==3.8.5
aiohttp-retry==2.8.3
aioice==0.9.0
aiortc==1.5.0
aiosignal==1.3.1
altair==5.0.1
anyio==3.7.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
av==10.0.0
backports.weakref==1.0.post1
bleach==6.0.0
blinker==1.6.2
brotlipy==0.7.0
cachetools==5.3.1
jupyter-events==0.6.3
jupyter_client==8.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
keras==2.13.1
keras-utils==1.0.13
markdown-it-py==3.0.0
markdownlit==0.0.7
mdurl==0.1.2
mediapipe==0.10.1
mypy-extensions==0.4.3
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
notebook==6.5.4
notebook_shim==0.2.3
oauthlib==3.2.2
opencv-python-headless==4.8.0.76
openpyxl==3.0.10
overrides==7.3.1
pandocfilters==1.5.0
pep8==1.7.1
pylibsrtp==0.8.0
pyOpenSSL==23.2.0
PyQt5==5.15.7
PyQtWebEngine==5.15.4
pytest==7.1.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-lsp-jsonrpc==1.0.0
queuelib==1.5.0
scikit-learn==1.3.0
scipy==1.10.0
seaborn==0.12.2
spotipy==2.23.0
sounddevice==0.4.6
streamlit==1.25.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.0
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-lottie==0.0.5
streamlit-on-Hover-tabs==1.0.1
streamlit-option-menu==0.3.6
streamlit-player==0.1.5
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
streamlit-webrtc==0.45.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.31.0
twilio==8.5.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
