Pre-Requisites for Face-X Model are:
(1) Python (Intermediate level)
(2) Image Classification Techniques (OpenCV)
(3) Machine Learning Algorithms
(4) Deep Learning Knowledge

Required Libraries for Face-X Working Model are as follows:
(1) NumPy
(2) Pandas 
(3) Matplotlib 
(4) Seaborn
(5) Scikit-Learn
(6) OpenCV
(7) Tensorflow 
