numpy==1.22.2
opencv-python==4.2.0.32
tensorflow==2.11.1
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
