certifi==2023.7.22
flake8==3.7.9
future==0.18.3
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.22.0
olefile==0.46
opencv-python==4.2.0.34
Pillow==10.0.1
pycodestyle==2.5.0
pyflakes==2.1.1
scipy==1.10.0
six==1.14.0
torch==1.13.1
torch-mtcnn==0.0.7
torchvision==0.6.0a0+82fd1c8
