<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Face-X Mask Detection</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/" style="color:white">Home</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/templates/simulator" style="color:white">Simulator</a>
        </li>
      </ul>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" href="https://github.com/akshitagupta15june/Face-X" style="color:white">Face-X</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  {% block body %}

  {% endblock body %}
  <!-- Footer -->
  <footer style="color: white;background-color: black;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Face-X</h5>
          <p>
          <h2> Community and Contributing</h2><br>
          Please do! Contributions and pull requests are welcome.Contributors are expected to adhere to the
          Code of Conduct.<br>
          Jump into our Discord! Our projects are community-built and welcome collaboration. <br>👍Be sure to
          see the Face-X Community Welcome Guide for a tour of resources available to you.
          </p>
          <h3>Contributing Head or Project Admin:</h3>
          <p>
            <a href="https://github.com/akshitagupta15june"> Akshita Gupta</a>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase">Contact us</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://github.com/akshitagupta15june/Face-X" class="text-light">Github</a>
            </li>
            <li>
              <a href="https://discord.com/invite/Jmc97prqjb" class="text-light">Discord</a>
            </li>
            <li>
              <a href="https://github.com/akshitagupta15june/Face-X/blob/master/Readme.md" class="text-light">Welcome
                Guide To Face-X</a>
            </li>
          </ul><br><br>
          <h3>Website Creator:</h3>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.linkedin.com/in/sarthak-kapaliya-2723bb202" class="text-light">Sarthak
                Kapaliya</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>