torch==2.2.0
face-alignment
h5py==2.10.0
matplotlib==2.2.4
numpy==1.22.2
opencv-python==4.2.0.32
scikit-image==0.14.5
scikit-learn==1.5.0
scipy==1.10.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==2.12.0
trimesh==2.38.40
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
networkx>=2.6 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
grpcio>=1.53.2 # not directly required, pinned by Snyk to avoid a vulnerability
